<a href="/">Home</a>
<h1 class="title">Add Collectors</h1>

<div class="add_new_item">
    <form action="/insertQueries/add_collector" method="post">
        <label>First Name: <input type="text" name="fname"></label>
        <br>
        <br>
        <label>Last Name: <input type="text" name="lname"></label>
        <br>
        <br>
        <label>DOB: <input type="date" name="dob"></label>
        <br>
        <br>
        <input type="submit" value="Add" />
    </form>
    <br>
    <button onclick="window.history.back()">Cancel</button>
</div>

<!--
    In insertQueries.js, add:

    app.get('/add_collector', function(req, res, next){
        res.render('add_collector', {title:'Add Collectors'});
    });
-->
