<h1 id="home_title">Comic Catalog</h1>
<a href="/inventory" id="inventory_butt">View Inventory</a>
<div id="homepage_buttons">
    <a href="/insertQueries/add_book" id="books_butt">Add Book</a>
    <a href="/authors" id="authors_butt">Add/Remove Author</a>
    <a href="/publishers" id="publishers_butt">Add/Remove Publisher</a>
    <a href="/genres" id="genres_butt">Add/Remove Genre</a>
    <a href="/collectors" id="collectors_butt">Add/Remove Collector</a>
</div>

<!-- Add to server
app.get('/', function(req, res, next){
    res.render('home', {title:'Comic Catalog'});
});
-->
