<a href="/">Home</a>
<h1 class="title">Add Authors</h1>

<div class="add_new_item">
    <form action="/insertQueries/add_author" method="post"> 
        <label>First Name: <input type="text" name="fname"></label>
        <br>
        <br>
        <label>Last Name: <input type="text" name="lname"></label>
        <br>
        <br>
        <input type="submit" value="Add" />
    </form>
    <br>
    <button onclick="window.history.back()">Cancel</button>
</div>

<!--
    In insertQueries.js, add:

    app.get('/add_author', function(req, res, next){
        res.render('add_author', {title:'Add Authors'});
    });
-->
