<a href="/">Home</a>
<h1 class="title">Add/Remove Genres</h1>
<div id="update_add_block">
    <a href="/insertQueries/add_genre" id="add_genre">Add</a>
</div>

<table>
    <thead>
        <tr>
            <th>Genres</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <!--getGenres function in genres.js-->
        {{#each genres}}
        <tr>
            <td>{{type}}</td>
            <td><button class="delete_butt" onclick="deleteGenre({{id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!--
    need an object with {title:"Add/Remove Genres", jsscripts:["deleteGenre.js"]} to render genres.handlebars
-->
